<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/index.css' />
  </head>
  <body>
    <div id="header">
      <a class="add-note" title="添加笔记" href="#"><span class="fa fa-plus"></span> 添加</a>
      <ul class="user-area">

      </ul>

    </div>
    <div id="content">
    </div>

    <div class="stars"></div>

    <script src="/js/index.js"></script>
  </body>
</html>
